body {
  background-image: url(http://old.code.mu/exercises/css/osnovy-raboty-s-fonom-cherez-css-dlya-novichkov/4/fon1.jpg);
  background-repeat: repeat-y;
  background-position: right top;
}


.text {
  margin-top: 10px;
}

p {
  width: 500px;
  font-weight: bold;
  text-align: justify;
}
